name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  ci:
    name: Publish
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: make install

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Bump version
        continue-on-error: true
        id: graduateRelease
        # @NOTE: versioning strategy
        #   major:   npx lerna version 2.0.0 --force-publish --exact --yes
        #   regular: npx lerna version --conventional-commits --conventional-graduate --exact --yes
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          npx lerna version --conventional-commits --conventional-graduate --exact --yes --no-push

      - name: Bump version fallback
        if: ${{ always() && steps.graduateRelease.outcome == 'failure'  }}
        # @NOTE: versioning strategy
        #   major:   npx lerna version 2.0.0 --force-publish --exact --yes
        #   regular: npx lerna version --conventional-commits --exact --yes
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"

          echo "Falling back to non-graduate release due to https://github.com/lerna/lerna/issues/2532"
          git stash
          npx lerna version --conventional-commits --conventional-graduate --exact --yes --no-push

      - name: Publish
        run: |
          npm config delete always-auth 2>/dev/null || true
          npx lerna publish --no-private from-git --yes

      - name: Push back to GitHub
        run: |
          git push --follow-tags
